/**
 * Make the clickable area of an element bigger than the element itself. This
 * is especially useful for clickable icons.
 *
 * If the margin or padding is manually altered for any element that also has
 * grow-hitbox() applied to it, the hitbox will have an unexpected shape. If
 * you need to move such an element around, use relative positioning.
 */
grow-hitbox($amount) {
    padding: $amount;
    margin: -($amount);
}

/**
 * For some reason, anchors that wrap FontAwesome icons are too tall by
 * default. This mixin fixes that.
 */
fix-fa-link-height() {
    height: 1em;
}
