#experiment-content {
    display: grid;
    grid-gap: 50px;
}

#experiment-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px; /* Same as .metric */
}

#experiment-contacts ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

#experiment-metrics {
    display: grid;
    grid-gap: 50px; /* Same as #experiment-content */
}

/* Intentionally hide some headings. They have semantic value and value to
   screen-readers, but they aren't really needed visually. */
#experiment-details h3,
#experiment-metrics h3 {
    display: none;
}
