#experiment-content {
    display: grid;
    grid-gap: 50px;
}

#experiment-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px; /* Same as .metric */
    grid-template-areas:
        "top top"
        "bottom-left bottom-right";
}

#experiment-description {
    grid-area: top;
}

#experiment-counts {
    grid-area: bottom-left;
}

#experiment-authors {
    grid-area: bottom-right;
}

#experiment-authors ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

#experiment-authors a {
    display: inline-grid;
    grid-row-gap: 10px;
    justify-items: center;

    text-decoration: none;
    color: #000;
}

#experiment-metrics {
    display: grid;
    grid-gap: 50px; /* Same as #experiment-content */
}

/* Intentionally hidden. Add value semantically, but not visually. */
#experiment-details h3,
#experiment-metrics h3 {
    display: none;
}

#experiment-counts h5 {
    margin-bottom: 0;
}

#experiment-counts h4 {
    margin-bottom: 1rem;
}

#experiment-counts dl {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    font-size: .75em;
    margin: 1rem 0; /* Same as #experiment-counts h4 margin-bottom */
}
