.metric {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px; /* Same as #experiment-details */
    grid-template-areas:
        "top-left top-right"
        "bottom-left bottom-right";
}

.metric-name {
    grid-area: top-left;
    text-align: left;
}

canvas {
    grid-area: bottom-left;
    justify-self: start;
}

#metric-details {
    display: grid;
    grid-area: bottom-right;
    grid-auto-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 20px;
    grid-template-areas:
        "top-left top-midleft top-midright top-right"
        "bottom bottom bottom bottom";
}

/* Intentionally hidden. Adds value semantically, but not visually. */
#metric-details h5 {
    display: none;
}

#metric-details dl {
    grid-area: top-left;
    margin: 0;
}

.get-json {
    color: #000;
    grid-area: top-midleft;
}

.metric-description {
    grid-area: bottom;
    margin: 0;
}
