.metric {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px; /* Same as #experiment-details */
    grid-template-areas:
        "top-left top-right"
        "bottom-left bottom-right";
}

.metric-name {
    grid-area: top-left;
    text-align: left;
}

.metric-description {
    grid-area: bottom-right;
}

canvas {
    grid-area: bottom-left;
    justify-self: start;
}
