@import 'includes/variables';

body {
  margin: 0;
  font-family: sans-serif;
}

#application {
  display: grid;
  grid-row-gap: $grid-row-gap-between-header-and-main;
  padding: 20px;
  width: 1200px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

p {
    line-height: 1.3;
}

dt, dd {
    display: inline;
}

dt {
    font-weight: bold;
    clear: left;

    &::after {
        content: ':';
        margin-right: 1ch;
    }
}

dd {
    margin-left: 0;
}
