.chart-totals {
    display: flex;
    font-size: 13px;
    justify-content: flex-end;
    padding: 0 0 10px;
    margin: 0 10px 20px;
    border-bottom: 1px solid #ccc;

    dd {
        margin: 0 7px;

        &:last-child {
            margin-right: 0;
        }
        em {
            font-style: normal;
        }
    }
    &.full-width {
        border-bottom: 0;
    }
}
