.sortable {
    th {
        cursor: pointer;

        &.sorted.ascending::after,
        &.sorted.descending::after {
            font-family: 'FontAwesome';
            line-height: 1;
            margin-left: 10px;
        }

        &.sorted.ascending::after {
            content: '\f062'; /* Up arrow */
        }

        &.sorted.descending::after {
            content: '\f063'; /* Down arrow */
        }
    }
}
