.experiments-table-container .search-box {
    margin-bottom: 20px;
}

.experiments-table {
    border-collapse: collapse;

    a, a:visited {
        color: #00f;
        text-decoration: none;
    }

    .experiment-creation-date {
        width: 20%;
    }
}
