@import 'includes/variables';

#home {
    display: grid;
    grid-row-gap: $grid-row-gap-between-header-and-main;

    table {
        width: 100%;
        border-collapse: collapse;
    }

    thead {
        border-bottom: 3px solid #ccc;
    }

    tbody tr {
        border-bottom: 1px solid #ccc;

        &:last-child {
            border-bottom: 0;
        }
    }
}
