@import 'includes/mixins';

$grid-row-gap = 15px;
$chart-grid-width = 500px;
$legend-item-height = 30px;
$legend-grid-gap = 10px;

.metric {
    display: grid;
    grid-row-gap: $grid-row-gap;
}

.name-and-buttons {
    display: flex;

    > a, > .fa {
        fix-fa-link-height();
    }

    h4 {
        margin: 0;
    }
}

.chart-button-link {
    text-decoration: none;
}

.chart-button {
    color: #000;
    cursor: pointer;

    margin-left: 10px;

    &:not(.fa) {
        font-weight: bold;
    }

    &.fa {
        font-weight: normal;
    }
}

.metric-name {
    text-align: left;
}

canvas {
    justify-self: start;
}

#metric-details {
    display: grid;
    grid-row-gap: $grid-row-gap;

    /* Intentionally hidden. Adds value semantically, but not visually. */
    h5 {
        display: none;
    }
}

#metric-details {
    margin-bottom: 20px;

    dl {
        display: grid;
        font-size: .8em;
        font-size: 12px;
        grid-gap: $legend-grid-gap;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;
        max-width: $chart-grid-width;

        div {
            display: flex;
            position: relative;

            &:hover dd {
                display: block;
            }
        }
    }
    dt {
        border-radius: 3px;
        color: #fff;
        line-height: $legend-item-height;
        overflow: hidden;
        padding: 0 10px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 140px;
    }
    dd {
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.5);
        color: #000;
        display: none;
        left: 0;
        line-height: 1.5;
        min-width: 138px;
        padding: 10px;
        position: absolute;
        top: $legend-item-height + $legend-grid-gap;
        z-index: 10;
    }
}

.metric-description {
    margin: 0;
}
