@import 'includes/variables';
@import 'includes/mixins';

.metric {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $grid-column-gap-on-experiment-page;
    grid-template-areas:
        "top top"\
        "bottom-left bottom-right";
}

.name-and-buttons {
    grid-area: top;

    display: flex;

    > a, > .fa {
        fix-fa-link-height();
    }
}

.chart-button-link {
    text-decoration: none;
}

.chart-button {
    color: #000;
    cursor: pointer;

    margin-left: 10px;

    &:not(.fa) {
        font-weight: bold;
    }

    &.fa {
        font-weight: normal;
    }
}

.metric-name {
    text-align: left;
}

canvas {
    grid-area: bottom-left;
    justify-self: start;
}

#metric-details {
    display: grid;
    grid-area: bottom-right;
    grid-auto-columns: 1fr;
    grid-auto-rows: max-content;
    grid-gap: 20px;
    grid-template-areas:
        "top-left top-midleft top-midright top-right"\
        "bottom bottom bottom bottom";

    /* Intentionally hidden. Adds value semantically, but not visually. */
    h5 {
        display: none;
    }
}

.n-values {
    grid-area: top-left;

    h6 {
        font-size: 1rem;
        margin: 0;
    }

    dl {
        font-size: .7em;
        margin: 0;
    }

    div {
        margin-top: 2px;
    }
}

.metric-description {
    grid-area: bottom;
    margin: 0;
}
