@import 'includes/mixins';

$grid-row-gap = 15px;

.metric {
    display: grid;
    grid-row-gap: $grid-row-gap;
}

.name-and-buttons {
    display: flex;

    > a, > .fa {
        fix-fa-link-height();
    }

    h4 {
        margin: 0;
    }
}

.chart-button-link {
    text-decoration: none;
}

.chart-button {
    color: #000;
    cursor: pointer;

    margin-left: 10px;

    &:not(.fa) {
        font-weight: bold;
    }

    &.fa {
        font-weight: normal;
    }
}

.metric-name {
    text-align: left;
}

canvas {
    justify-self: start;
}

#metric-details {
    display: grid;
    grid-row-gap: $grid-row-gap;

    /* Intentionally hidden. Adds value semantically, but not visually. */
    h5 {
        display: none;
    }
}

#metric-details {
    dl {
        display: flex;
        font-size: .8em;
        margin: 0;

        div {
            display: flex;
            margin-left: 10px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.metric-description {
    margin: 0;
}
