@import 'includes/variables';

.monitoring-charts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid $gray;

    > *:not(.large) {
        max-width: 50%;
    }
}

.monitoring-charts-remix {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.monitoring-chart {
    display: flex;
    justify-content: center;
}
