@import 'includes/variables';

.monitoring-charts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid $gray;

    > *:first-child {
        width: 100%;
    }
}
