@import 'includes/mixins';

/* Create a transparent area "behind" the overlay that, along with some
   JavaScript, the user will be able to click to close the overlay. */
#overlay-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

#overlay {
    position: fixed;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;

    background-color: #fff;
    padding: 20px;
    z-index: 1;

    /* Without this, chart.js won't fit itself inside the padding. */
    display: grid;
    grid-template-rows: auto 1fr;
}

#overlay-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#overlay-close-button {
    grow-hitbox(20px);
    fix-fa-link-height();

    justify-self: end;
    color: #000;
    text-decoration: none;
}
