.rt-chart-title {
    font-size: 16px;
    font-weight: 200;
    margin: 0;
    text-align: center;
    position: relative;

    span {
        position: absolute;
        right: 0;
        top: 20px;
        font-size: 11px;
    }
}
