@import 'includes/variables';

.search-box {
    background: #fff;
    border-radius: 10px;
    border: 1px solid $gray;
    display: inline-flex;
    padding: 3px;
    box-sizing: border-box;
    height: $search-box-height;

    input {
        background: @background;
    }

    &::after {
        color: $gray;
        content: '\f002';
        font-family: 'FontAwesome';

        background: @background;
        padding: 3px;
        z-index: 10;
    }

    input {
        border: 0;
        text-indent: 3px;

        /* Remove some browser styles that would ruin the effect */
        &::-webkit-search-cancel-button {
            display: none;
        }
        &:focus {
            outline: none;
        }
    }
}
