@import 'includes/variables';

.search-box {
    border-radius: 10px;
    border: 1px solid $gray;
    display: inline-flex;
    padding: 3px;

    &::after {
        color: $gray;
        content: '\f002';
        font-family: 'FontAwesome';

        background: #fff;
        padding: 3px;
        z-index: 10;
    }

    input {
        border: 0;
        text-indent: 3px;
    }
}
