@import 'includes/variables';

body {
  margin: 0;
  font-family: sans-serif;
}

#application {
  display: grid;
  grid-row-gap: 20px;
  padding: 20px;
  width: 1200px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

p {
    line-height: 1.3;
}

dt, dd {
    display: inline;
}

dt {
    font-weight: bold;
    clear: left;

    &::after {
        content: ':';
        margin-right: 1ch;
    }
}

dd {
    margin-left: 0;
}

th {
    text-align: left;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 15px;

    thead tr:first-child & {
        padding-top: 0;
    }

    tbody tr:last-child & {
        padding-bottom: 0;
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}

a, a:visited {
    color: #000;
    text-decoration: underline;
}
